/**
 *  -----------------------------------------------
 *  modules/PROJECT CARD
 *  -----------------------------------------------
 */

/*-----------------------------------------------
 * Project Card
 -----------------------------------------------*/
.project-card {
    @include background-color("light-medium_bg");
    border-radius: 8px 8px 8px 0;
    // border: 1px solid transparent;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08),
        0px 1.5px 2px 0 rgba(13, 11, 14, 0.4);
    // padding: 12px 10px 30px;
    padding: 12px 0px 30px;
    position: relative;
    height: 100%;
    position: relative;
    transition: box-shadow 0.3s, border-color 0.3s ease;

    &:hover {
        cursor: pointer;
        @include hover-shadow();
        border-color: rgba($grey-light, 0.7);

        .theme-dark & {
            border-color: transparent;
        }
    }

    &__col {
        width: 16.6666666%;
        // padding-left: 8px;
        padding-right: 8px;
        // margin-bottom: 20px;
        @include m1680 {
            width: 20%;
        }
        @include m1380 {
            width: 25%;
        }
    }

    &__createdat {
        @include text-size(22);
        color: $main-grey;
        position: absolute;
        top: 15px;
        right: 10px;
        max-width: 42%;
        text-align: right;

        @include m1920 {
            max-width: 33%;
        }
    }

    &__infos {
        color: $main-grey;
        padding: 0px 20px 10px;

        @include m1920 {
            padding-left: 27px;
            padding-right: 10px;
        }

        p {
            color: $white;
            @include text-size(32);

            strong {
                color: $black;
                font-weight: 700;
                @include color("main_text");
            }
        }
    }

    &__progress {
        @include background-color("border_contrast");
        border-radius: 3px;
        height: 3px;
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 90%;
        max-width: 220px;
        transform: translateX(-50%);

        &-bar {
            background-color: #7665a7;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            &.is-full {
                background-color: $green;
            }
        }
    }

    &__actions-buttons {
        @extend .action-button;
        padding: 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        pointer-events: none;

        .action-button {
            width: 50%;
            position: relative;
            background-color: transparent;
            z-index: 1;
            pointer-events: auto;

            &:hover {
                background: transparent;
            }
        }

        // background
        &::before {
            content: "";
            @include background-color("light-medium_bg");
            border-radius: 3px;
            position: absolute;
            top: 3px;
            left: 3px;
            bottom: 3px;
            width: calc(50% - 3px);
            transition: transform 0.3s ease;
        }

        &.is-second::before {
            transform: translateX(100%);
        }

        &:hover {
            @include background-color("light_bg");

            &::before {
                @include gradient();
            }
        }
    }

    // Status
    &.is-waiting {
        // Red Notif
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $red;
            transform: translate(50%, -50%);
        }
    }

    &.is-closed {
        opacity: 0.6;
        box-shadow: none;

        .project__category {
            background: $grey-b !important;
        }

        .project-card__infos p strong,
        .project__category {
            opacity: 0.4;
        }
    }
}
