/**
 *  -----------------------------------------------
 *  components/ACTIONS BOX
 *  -----------------------------------------------
 */

/*-----------------------------------------------
 * Actions Box
 -----------------------------------------------*/

.actions-box {
	border-radius: 5px;
	// background-color: $grey-whiter;
	@include background-color('dark_bg_2');
	width: 240px;
	max-width: 100%;
	@include sm-shadow();
	display: none;

	.context-menu--items-element {
		@include text-size(28);
		position: relative;

		&:hover {
			background-color: $grey-d;
		}

		.fileupload {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 1;
			cursor: pointer;
		}
	}
}
