/**
 *  -----------------------------------------------
 *  components/BUTTONS
 *  -----------------------------------------------
 */

/*-----------------------------------------------
 * Main Button
 -----------------------------------------------*/
.main-button {
    display: inline-block;
    border-radius: 4px;
    color: $white;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
    min-width: 120px;
    @include transition(background-color);
    @include font-size(35);
    @include background-color("secondary_2");

    &:hover {
        @include background-color("secondary");
    }
}

/*-----------------------------------------------
 * Button [Options : is-violet / is-grey / is-gradient / is-light / has-arrow / is-disabled]
 -----------------------------------------------*/
.button {
    display: inline-block;
    vertical-align: middle;
    @include background-color("border_contrast");
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgb(225 228 232);
    @include color("main_text");
    @include text-size(30);
    font-weight: 700;
    padding: 8px 15px;
    text-align: center;
    overflow: hidden;
    transition: border-color 0.3s ease;

    .theme-dark & {
        box-shadow: 0px 2px 2px rgba($black2, 0.5);
    }

    &:hover {
        @include hover-shadow();
        border: 1px solid rgba($grey-light, 0.7);
        cursor: pointer;

        .theme-dark & {
            border: 1px solid $darkgrey2;
        }
    }

    .actions-list &:not(last-child) {
        margin-right: 0px;
    }

    &.is-violet {
        background-color: $violet-2;
        color: $white;

        &:hover {
            @include gradient();
        }
    }

    &.is-grey {
        @include background-color("medium_bg_2");
        @include color("main_text");

        &:hover {
            // background-color: $grey-light;
            @include background-color("border_contrast2");
        }
    }

    &.is-gradient {
        background: $violet-3;
        border: 0;
        color: $white;
        position: relative;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include gradient();
            transition: transform 1s ease;
            z-index: -1;
        }

        &:hover {
            &::before {
                transform: translateX(-100%);
            }
            .theme-dark & {
                border: 0;
            }
        }
    }

    &.is-light {
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }
    }

    &.has-arrow {
        &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;
            transform: rotate(-45deg);
            margin-left: 10px;
        }
    }
    &.has-plus {
        &::after {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;
            transform: rotate(-45deg);
            margin-left: 10px;
        }
    }

    &:disabled,
    &[disabled],
    &.is-disabled {
        @include background-color("border_contrast");
        cursor: default;
        pointer-events: none;

        &.is-gradient {
            // background-color: transparent !important;

            &::before {
                @include background-color("border_contrast");
            }
        }
    }

    // Icon button
    &.icon-button {
        padding-left: 10px;
        padding-right: 10px;

        .icon {
            font-weight: 600;
            opacity: 0.8;
            margin-right: 0;
        }
    }
}

/*-----------------------------------------------
 * Small Button [Options : is-gradient]
 -----------------------------------------------*/
.small-button {
    display: inline-block;
    border-radius: 4px;
    color: $white;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    min-width: 120px;
    @include text-size(25);
    @include transition(background-color);
    @include background-color("secondary_2");
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include gradient($purple, $violet-2);
        transform: translateX(-100%);
        transition: transform 0.8s ease;
        backface-visibility: inherit;
        z-index: -1;
    }

    &:hover::before {
        transform: translateX(-10%);
    }

    &.is-gradient {
        background: #4f00b5;
        color: $white;
        position: relative;
        z-index: 5;

        &::before {
            @include gradient();
            transform: translateX(0);
        }

        &:hover::before {
            transform: translateX(-100%);
        }
    }
}
.tiny-button-section {
    width: 36px;
    height: 46px;
    padding: 0px;
    background: #38276a;
    border-radius: 7px;
    color: #fff;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tinky-button-section {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: 0;
    padding: 17px;
    margin-bottom: 30px;
    margin-right: 30px;
    background: linear-gradient(180deg, #5808af 0%, #6b199b 100%);
    border-radius: 10px;
    color: #fff;
    z-index: 7;
}
.tiny-button {
    position: relative;
}
.tinky-button {
    position: relative;
}

/*-----------------------------------------------
 * Action Button [Options : is-violet]
 -----------------------------------------------*/
.action-button {
    @include background-color("light_bg");
    border-radius: 3px;
    color: $white;
    @include text-size(26);
    font-weight: 700;
    display: inline-block;
    padding: 6px 15px;
    text-align: center;
    transition: color 0.3s ease;
    width: 88%;
    text-align: left;
    padding: 12px;

    &.is-violet {
        background-color: $violet-2;
        color: $white;
    }

    &:hover {
        // @include gradient();
        color: $white;
    }
}

/*-----------------------------------------------
 * Action link [Options : is-white / is-next]
 -----------------------------------------------*/
.action-link {
    color: $white;
    display: inline-block;
    font-weight: 400;
    @include text-size(30);
    transition: color 0.3s ease;

    .icon {
        font-size: 35px;
        margin-right: 10px;
        transition: transform 0.3s ease;
    }

    &.is-white {
        color: $white;

        &:hover {
            color: $grey-light;
        }
    }

    &.is-next {
        .icon {
            margin-left: 10px;
            margin-right: 0;
            transform: rotate(180deg);
        }

        &:hover {
            .icon {
                transform: translateX(5px) rotate(180deg);
            }
        }
    }

    &:hover {
        color: $grey;

        .icon {
            transform: translate(-5px, -5%);
        }
    }
}

/*-----------------------------------------------
 * Box button
 -----------------------------------------------*/
.box-button {
    background: transparent;
    box-shadow: 0px 2px 2px rgb(225 228 232);
    border: 1px solid transparent;
    border-radius: 10px;
    @include color("main_text");
    @include text-size(30);
    padding: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease;
    z-index: 1;

    .theme-dark & {
        box-shadow: none;
    }

    // picto
    .picto {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
    }

    // Background
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background-color: $grey-whiter;
        @include background-color("light-medium_bg");
        border-radius: 8px;
        z-index: -1;
        transition: background-color 0.3s ease;
    }

    &:hover {
        @include hover-shadow();
        border: 1px solid rgba($grey-light, 0.7);
        cursor: pointer;
    }

    $border-width: 1px;

    &.is-active {
        @include gradient(#4f00b5, #7d2a86);
        @include color("main_text");

        &::before {
            top: $border-width;
            left: $border-width;
            right: $border-width;
            bottom: $border-width;
        }

        &:hover {
            border-color: transparent;
        }
    }
}

/*-----------------------------------------------
 * Cross button
 -----------------------------------------------*/
.cross-button {
    border-radius: 50%;
    border: 3px solid $white;
    background-color: $black;
    width: 25px;
    height: 25px;
    text-align: center;
    transition: background-color 0.3s ease;

    .icon {
        color: $white;
        font-size: 8px;
        margin-right: 0;
    }

    &:hover {
        background-color: $grey;
    }
}

/*-----------------------------------------------
 * JS class
 -----------------------------------------------*/
.js-toggle-button {
    &:hover {
        cursor: pointer;
    }
}
