/**
 *  -----------------------------------------------
 *  components/PICTO
 *  -----------------------------------------------
 */

/*-----------------------------------------------
 * Picto (gradient colored)
 -----------------------------------------------*/
.picto {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.picto-search {
    background-image: url("/images/ui/icon-search.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-search-grey.svg");
    }
}

.picto-calendar {
    background-image: url("/images/ui/icon-calendar.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-calendar.svg");
    }
}

.picto-job {
    background-image: url("/images/ui/icon-job.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-job-grey.svg");
    }
}

.picto-skills {
    background-image: url("/images/ui/icon-skills.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-skills-grey.svg");
    }
}

.picto-categories {
    background-image: url("/images/ui/icon-categories.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-categories-grey.svg");
    }
}

.picto-order {
    background-image: url("/images/ui/icon-order.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-order-grey.svg");
    }
}

.picto-status {
    background-image: url("/images/ui/icon-status.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-status-grey.svg");
    }
}

.picto-talent {
    background-image: url("/images/ui/icon-talent.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-talent-grey.svg");
    }
}

.picto-task {
    background-image: url("/images/ui/icon-task.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-task-grey.svg");
    }
}

.picto-refresh {
    background-image: url("/images/ui/icon-refresh.svg");
}

.picto-talk {
    background-image: url("/images/ui/icon-talk.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-talk-grey.svg");
    }
}

.picto-big-check {
    background-image: url("/images/ui/icon-big-check.svg");
    width: 100px;
    height: 75px;
}

.picto-projects {
    background-image: url("/images/ui/icon-projects.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-projects-grey.svg");
    }
}

.picto-play {
    background-image: url("/images/ui/icon-play.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-play-grey.svg");
    }
}

.picto-rdv {
    background-image: url("/images/ui/icon-rdv.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-rdv-grey.svg");
    }
}

.picto-rdv-talent {
    background-image: url("/images/ui/icon-rdv-talent.svg");

    .theme-dark & {
        background-image: url("/images/ui/icon-rdv-talent-grey.svg");
    }
}

.picto-time {
    background-image: url("/images/ui/icon-time.svg");
    width: 11px;
    height: 12px;
    margin-left: 2px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-right: 5px;
}

.picto-location {
    background-image: url(/images/ui/icon-location.svg);
    width: 11px;
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}

.icon-shape {
    background-image: url(/images/ui/icon-location.svg);
    width: 11px;
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}

.picto-location2 {
    background-image: url("/images/ui/icon-location.svg");
    left: 10px;
    z-index: 2;
    width: 11px;
    height: 16px;
    margin-left: 4px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
}

/*-----------------------------------------------
 * Explorer Picto
 -----------------------------------------------*/

.picto-trending-fire {
    background-image: url("http://kolab-dashboard.test/explorer//images/ui/explorer/icon-trending.svg");
    width: 18px;
    height: 26px;
    margin-right: 14px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    background-size: contain;
}

.picto-propose {
    background-image: url("/images/ui/explorer/icon-propose.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-paid {
    background-image: url("/images/ui/explorer/icon-paid.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-sent {
    background-image: url("/images/ui/explorer/icon-sent.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-validated {
    background-image: url("/images/ui/explorer/icon-validated.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-job {
    background-image: url("/images/ui/explorer/icon-job.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-user {
    background-image: url("/images/ui/explorer/icon-user.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-lock {
    background-image: url("/images/ui/explorer/icon-lock.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-infos {
    background-image: url("/images/ui/explorer/icon-info.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-link {
    background-image: url("/images/ui/explorer/icon-link.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-shield {
    background-image: url("/images/ui/explorer/icon-shield.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-shield-colored {
    background-image: url("/images/ui/explorer/icon-shield-colored.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-pile {
    background-image: url("/images/ui/explorer/icon-pile.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-eur {
    background-image: url("/images/ui/explorer/icon-euro.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-calendar {
    background-image: url("/images/ui/explorer/icon-calendar.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-notes {
    background-image: url("/images/ui/explorer/icon-notes.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-dropdown-down {
    background-image: url("/images/ui/explorer/icon-dropdown-down.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-dropdown-up {
    background-image: url("/images/ui/explorer/icon-dropdown-up.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-selector-left {
    background-image: url("/images/ui/explorer/icon-selector-left.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-selector-right {
    background-image: url("/images/ui/explorer/icon-selector-right.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-selector-left-colored {
    background-image: url("/images/ui/explorer/icon-selector-left-colored.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-mission-summary-colored {
    background-image: url("/images/ui/explorer/icon-explorer-mission-summary-colored.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-send-message {
    background-image: url("/images/ui/explorer/icon-explorer-send-message.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-fire {
    background-image: url("/images/ui/explorer/icon-explorer-fire.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-pencil-pink {
    background-image: url("/images/ui/explorer/icon-explorer-pencil-pink.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-pencil {
    background-image: url("/images/ui/explorer/icon-explorer-pencil.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-logout {
    background-image: url("/images/ui/explorer/icon-explorer-logout.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-project-selector-right {
    background-image: url("/images/ui/explorer/icon-explorer-project-selector-right.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-project-selector-left {
    background-image: url("/images/ui/explorer/icon-explorer-project-selector-left.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-pile-white {
    background-image: url("/images/ui/explorer/icon-explorer-pile-white.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-eur-white {
    background-image: url("/images/ui/explorer/icon-explorer-eur-white.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-mission-detail-white {
    background-image: url("/images/ui/explorer/icon-explorer-mission-detail-white.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-video {
    background-image: url("/images/ui/explorer/icon-explorer-video.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-img {
    background-image: url("/images/ui/explorer/icon-explorer-img.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
    background-size: contain;
}

.picto-explorer-search {
    background-image: url("/images/ui/explorer/icon-search.svg");
}

.picto-explorer-filter-competence {
     background-image: url("/images/ui/explorer/icon-explorer-filter-competence.svg");
 }

.picto-explorer-filter-work {
      background-image: url("/images/ui/explorer/icon-explorer-filter-work.svg");
  }
/*-----------------------------------------------
 * Icon with Icomoon
 -----------------------------------------------*/
.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    transform: translateY(-5%);
}

