.page_explorer_home::before {
    content: "";
    background-image: url('/images/explorer/explorer-home-background.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.page_explorer_home {
    height: 100vh;
    width: 100vw;
    top: -50px;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #150c2d;

    .gradient {
        background-image: linear-gradient(to bottom, rgba(14, 6, 35, 0), #150c2d);
        width: 100vw;
        height: 100vh;
        position: absolute;
        bottom: 0;
    }

    .main-content {
        z-index: 2;
        position: relative;
        width: 29%;

        .input-container {
            height: 58px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0 15px 0;

            .password-input {
                padding: 20px 0 20px 20px;
                border-radius: 5px;
                border: solid 1px #1e143b;
                background-color: #100824;
                font-size: 14px;
                text-align: left;
                color: #fff;
                height: 58px;
                width: 69.5%;
            }

            .validate-button {
                border-radius: 5px;
                background-color: #390294;
                font-size: 15px;
                font-weight: bold;
                color: #fff;
                height: 58px;
                width: 29.5%;
                text-align: center;
            }
        }

        .inscription-link {
            font-size: 12px;
            font-weight: bold;
            text-align: left;
            color: #fff;
            text-decoration: underline;
        }
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        text-align: left;
        color: #fff;


        span {
            background-image: linear-gradient(to right, #eb725d -7%, #db57ad 110%), linear-gradient(92deg, #7637c7 23%, #c957db 80%);
            font-weight: bold;
            text-align: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

