/**
 *  -----------------------------------------------
 *  LOGIN
 *  -----------------------------------------------
 */

$login-padding: 8vw;

.logo {
    width: 110px;
    height: 36px;

    &-wrapper {
        text-align: center;
        max-width: 110px;
        position: relative;
    }

    &.is-theme-dark,
    .theme-dark & {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .theme-dark &.is-theme-dark {
        opacity: 1;
        visibility: visible;
        position: relative;
        transition: opacity 0.3s, visibility 0.3s ease;
    }

    @include media-breakpoint-down(sm) {
        max-width: 120px;
    }
}

.login {
    padding-bottom: 50px;

    .logo {
        &-wrapper {
            margin: 0 auto;
            padding: 6vh 0;
        }
    }

    &-wrapper {
        @include background-color("light_bg");
        border-radius: 14px;
        width: 100%;
        position: relative;
        box-shadow: 0 0 3px 0 rgba(10, 31, 68, 0.1),
            0 54px 54px 0 rgba(10, 31, 68, 0.12);
        min-height: 750px;
        height: 80vh;
        overflow: hidden;
    }

    .form-field {
        // @include border(all, 1px, 'light_bg');
        @include border-color("light-medium_bg");

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $black;
            font-size: 16px;
            font-family: inherit;
            -webkit-box-shadow: 0 0 0 1000px $white inset;

            .theme-dark & {
                -webkit-text-fill-color: $white;
                -webkit-box-shadow: 0 0 0 1000px $darkgrey inset;
            }
        }
    }

    &__form-col {
        padding-left: $login-padding;
        padding-right: $login-padding;
        width: 100%;
        z-index: 1;

        @include media-breakpoint-up(md) {
            flex: 0 0 55%;
            max-width: 55%;
        }
    }

    &__title {
        font-weight: 700;
        margin-bottom: 60px;
        @include font-size(90);
        @include color("main_text");

        @include media-breakpoint-down(sm) {
            color: $white;
        }
    }

    &__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;

        @include media-breakpoint-up(md) {
            flex: 0 0 45%;
            max-width: 45%;
        }

        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.15;
        }
    }

    &__form {
        button {
            margin-top: 30px;

            &:disabled,
            &[disabled],
            &.is-disabled {
                background: $grey-light;
                cursor: default;
                pointer-events: none;
            }

            @include media-breakpoint-down(sm) {
                background-color: $realblack;
            }
        }
    }

    .button {
        padding: 10px 25px;
    }
}
