/**
 *  -----------------------------------------------
 *  FONTS
 *  -----------------------------------------------
 */

/*-----------------------------------------------
 * Proxima Nova
 -----------------------------------------------*/

// Regular
@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/ProximaNova-Regular.eot?#iefix");
    src: url("/fonts/ProximaNova-Regular.eot?#iefix") format("eot"),
        url("/fonts/ProximaNova-Regular.woff") format("woff"),
        url("/fonts/ProximaNova-Regular.woff2") format("woff2"),
        url("/fonts/ProximaNova-Regular.svg") format("svg"),
        url("/fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

// Light
@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/ProximaNova-Light.eot?#iefix");
    src: url("/fonts/ProximaNova-Light.eot?#iefix") format("eot"),
        url("/fonts/ProximaNova-Light.woff") format("woff"),
        url("/fonts/ProximaNova-Light.woff2") format("woff2"),
        url("/fonts/ProximaNova-Light.svg") format("svg"),
        url("/fonts/ProximaNova-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

// Bold
@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/ProximaNova-Bold.eot?#iefix");
    src: url("/fonts/ProximaNova-Bold.eot?#iefix") format("eot"),
        url("/fonts/ProximaNova-Bold.woff") format("woff"),
        url("/fonts/ProximaNova-Bold.woff2") format("woff2"),
        url("/fonts/ProximaNova-Bold.svg") format("svg"),
        url("/fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/*-----------------------------------------------
 * IcoMoon
 -----------------------------------------------*/
@font-face {
    font-family: "icomoon";
    src: url("/fonts/icomoon.eot?cy97re");
    src: url("/fonts/icomoon.eot?cy97re#iefix") format("embedded-opentype"),
        url("/fonts/icomoon.ttf?cy97re") format("truetype"),
        url("/fonts/icomoon.woff?cy97re") format("woff"),
        url("/fonts/icomoon.svg?cy97re#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
    content: "\e924";
}
.icon-web:before {
    content: "\e925";
}
.icon-vimeo:before {
    content: "\e926";
}
.icon-instagram:before {
    content: "\e927";
}
.icon-scroll-arrows:before {
    content: "\e923";
}
.icon-contract:before {
    content: "\e922";
}
.icon-folder:before {
    content: "\e921";
}
.icon-logout:before {
    content: "\e920";
}
.icon-check:before {
    content: "\e91f";
}
.icon-email-full:before {
    content: "\e91d";
    color: #7665a7;
}
.icon-phone:before {
    content: "\e91e";
    color: #7665a7;
}
.icon-bold-cross:before {
    content: "\e91c";
}
.icon-alert:before {
    content: "\e91b";
}
.icon-down-arrow:before {
    content: "\e91a";
    color: #ffffff;
}
.icon-language:before {
    content: "\e90f";
}
.icon-email:before {
    content: "\e900";
}
.icon-talk:before {
    content: "\e901";
}
.icon-download-cloud:before {
    content: "\e902";
}
.icon-download:before {
    content: "\e903";
}
.icon-long-arrow:before {
    content: "\e904";
}
.icon-move:before {
    content: "\e905";
}
.icon-notes:before {
    content: "\e906";
}
.icon-player:before {
    content: "\e907";
}
.icon-cross:before {
    content: "\e908";
}
.icon-plus:before {
    content: "\e909";
}
.icon-refresh:before {
    content: "\e90a";
}
.icon-skills:before {
    content: "\e90b";
}
.icon-job:before {
    content: "\e90c";
}
.icon-status:before {
    content: "\e90d";
}
.icon-task:before {
    content: "\e90e";
}
.icon-order:before {
    content: "\e910";
}
.icon-filters:before {
    content: "\e911";
}
.icon-categories:before {
    content: "\e912";
}
.icon-search:before {
    content: "\e913";
}
.icon-project:before {
    content: "\e914";
}
.icon-talent:before {
    content: "\e915";
}
.icon-calendar:before {
    content: "\e916";
    color: #7665a7;
}
.icon-delete:before {
    content: "\e917";
}
.icon-see:before {
    content: "\e918";
}
.icon-edit:before {
    content: "\e919";
}

.icon-location:before {
    content: "\0000";
    color: #7665a7;
}
.icon-time:before {
    content: "\e921";
}
