// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$realblack: #000;
$white: #fff;
$black: #141414;
$grey-dark: #3c3c3c;
$grey: #6b6b6b;
$main-grey: #888888;
$grey-b: #bdbdbd;
$grey-d: #d8d8d8;
$grey-light: #e1e4e8;
$grey-lighter: #ececec;
$grey-white: #f6f6f6;
$grey-whiter: #f9f9f9;
$grey-whiter2: #f8f8f8;

$violet: #351369;
$violet-2: #532493;
$violet-3: #4f00b5;
$violet-4: #6534a7;
$purple: #7322a9;
$purple-1: #7000d2;
$purple-2: #78139b;
$purple-white: #faf4ff;
$green: #02855a;

$red: #e23434;
$red-dark: #793939;
$violet-dark: #0e0623;

// Dark mode:
$black2: #150c2d;
$black3: #201345;
$darkgrey: #190f33; //#2b1c56;
$darkgrey2: #39276a;
$darkmood: #261b44;
$table-row: #39276a;
$table-row2: #39276a;
$black4: #201441;
$newviolet: #7665a7;
$purple-turn: #2b1c56;

// Fonts
$proxima: "Proxima Nova";

// Screen sizes
$screen-xl: 1921px;
$screen-xl-max: 1920px;
